In [1]:
# import libraries 

from bs4 import BeautifulSoup
import requests
import time
import 

import smtplib

In [49]:
# connect to website
url = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=1626655184&sr=8-3&customId=B0752XJYNL&th=1'

# to get header, type this on your browser: https://httpbin.org/get

headers =  {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/129.0.0.0 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

page = requests.get(url, headers = headers)
soup1 = BeautifulSoup(page.content, 'html.parser')
soup2 =  BeautifulSoup(soup1.prettify(), 'html.parser')
title = soup2.find(id = 'productTitle').get_text()

# Find the span containing the price
price_span = soup2.find('span', class_='a-price aok-align-center reinventPricePriceToPayMargin priceToPay')

# Extract the whole price and fraction separately
price_symbol = price_span.find('span', class_='a-price-symbol').get_text(strip=True)
price_whole = price_span.find('span', class_='a-price-whole').get_text(strip=True)
price_fraction = price_span.find('span', class_='a-price-fraction').get_text(strip=True)

# Combine whole and fraction parts to get the full price
full_price = f"{price_symbol}{price_whole}{price_fraction}"


print(title)
print(full_price)

                    Funny Got Data MIS Data Systems Business Analyst T-Shirt

$16.99

In [55]:
#i don't want the dollar sign if tho. i added it initially

price = full_price.strip()[1:]
title = title.strip()

print(title)
print(price)

Funny Got Data MIS Data Systems Business Analyst T-Shirt
16.99

In [73]:
today = datetime.date.today()
print(today)

2024-10-02

In [75]:
import csv

header = ['Title', 'Price', 'Date']
data = [title, price, today]

# Write to CSV file
with open('AmazonWebDataset.csv', 'w', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(header)   
    writer.writerow(data)

In [77]:
import pandas as pd

In [79]:
df = pd.read_csv('AmazonWebDataset.csv')
df

                                               Title  Price        Date
0  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-10-02

In [83]:
# appending data to this csv
with open('AmazonWebDataset.csv', 'a+', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(data)

In [85]:
df = pd.read_csv('AmazonWebDataset.csv')
df

                                               Title  Price        Date
0  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-10-02
1  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-10-02

In [87]:
# let's automate this

def check_price():
    # connect to website
    url = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=1626655184&sr=8-3&customId=B0752XJYNL&th=1'

    # to get header, type this on your browser: https://httpbin.org/get

    headers =  {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/129.0.0.0 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

    page = requests.get(url, headers = headers)
    soup1 = BeautifulSoup(page.content, 'html.parser')
    soup2 =  BeautifulSoup(soup1.prettify(), 'html.parser')
    title = soup2.find(id = 'productTitle').get_text()

    # Find the span containing the price
    price_span = soup2.find('span', class_='a-price aok-align-center reinventPricePriceToPayMargin priceToPay')

    # Extract the whole price and fraction separately
    price_symbol = price_span.find('span', class_='a-price-symbol').get_text(strip=True)
    price_whole = price_span.find('span', class_='a-price-whole').get_text(strip=True)
    price_fraction = price_span.find('span', class_='a-price-fraction').get_text(strip=True)

    # Combine whole and fraction parts to get the full price
    full_price = f"{price_symbol}{price_whole}{price_fraction}"
    price = full_price.strip()[1:]
    title = title.strip()
    import datetime
    today = datetime.date.today()
    import csv
    header = ['Title', 'Price', 'Date']
    data = [title, price, today]
    # appending data to this csv
    with open('AmazonWebDataset.csv', 'a+', newline='', encoding='UTF8') as f:
        writer = csv.writer(f)
        writer.writerow(data)

In [ ]:
while (True):
    check_price()
    time.sleep(86400)

In [97]:
import pandas as pd
df = pd.read_csv('AmazonWebDataset.csv')
df

                                                Title  Price        Date
0   Funny Got Data MIS Data Systems Business Analy...  16.99  2024-10-02
1   Funny Got Data MIS Data Systems Business Analy...  16.99  2024-10-02
2   Funny Got Data MIS Data Systems Business Analy...  16.99  2024-10-02
3   Funny Got Data MIS Data Systems Business Analy...  16.99  2024-10-02
4   Funny Got Data MIS Data Systems Business Analy...  16.99  2024-10-02
5   Funny Got Data MIS Data Systems Business Analy...  16.99  2024-10-02
6   Funny Got Data MIS Data Systems Business Analy...  16.99  2024-10-02
7   Funny Got Data MIS Data Systems Business Analy...  16.99  2024-10-02
8   Funny Got Data MIS Data Systems Business Analy...  16.99  2024-10-02
9   Funny Got Data MIS Data Systems Business Analy...  16.99  2024-10-02
10  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-10-02

In [ ]:
# If uou want to try sending yourself an email (just for fun) when a price hits below a certain level you can try it
# out with this script

def send_mail():
    server = smtplib.SMTP_SSL('smtp.gmail.com',465)
    server.ehlo()
    #server.starttls()
    server.ehlo()
    server.login('Smartwavetechcompany@gmail.com','xxxxxxxxxxxxxx')
    
    subject = "The Shirt you want is below $15! Now is your chance to buy!"
    body = "Alex, This is the moment we have been waiting for. Now is your chance to pick up the shirt of your dreams. Don't mess it up! Link here: https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data+analyst+tshirt&qid=1626655184&sr=8-3"
   
    msg = f"Subject: {subject}\n\n{body}"
    
    server.sendmail(
        'Smartwavetechcompany@gmail.com',
        msg
     
    )