 # Understanding the Dataset

In [58]:
import pandas as pd

In [59]:
df = pd.read_csv('payment_report (3).csv')
df

,Unnamed: 0,MDAS,Revenue Head,Industry,Invoice Number,Amount Paid,Payment Gateway,Payment Method,Payment Bank,Receipt Number,Payment Date
0,1,PLATEAU STATE INTERNAL REVENUE SERVICES,Withholding Tax on Contracts,2357178342,NaN,28209.07,Etranzact,Bank,First City Monument Bank Plc,8645177947,28/01/2025
1,2,PLATEAU STATE INTERNAL REVENUE SERVICES,Development Levy,2343687641,NaN,100.00,Etranzact,Bank,First City Monument Bank Plc,7649277284,28/01/2025
2,3,PLATEAU STATE INTERNAL REVENUE SERVICES,Withholding Tax on Rents,2320657362,NaN,100000.00,InterSwitch,Debit Card,Access Bank Nigeria Plc,6719375092,28/01/2025
3,4,PLATEAU STATE INTERNAL REVENUE SERVICES,Withholding Tax on Commission,NaN,NaN,438410.58,Etranzact,Bank,First City Monument Bank Plc,1270064463,28/01/2025
4,5,PLATEAU STATE INTERNAL REVENUE SERVICES,Withholding Tax on Commission,NaN,NaN,34339.97,Etranzact,Bank,First City Monument Bank Plc,9577364189,28/01/2025
...,...,...,...,...,...,...,...,...,...,...,...
995,996,KABONG MARKET AUTHORITY,GateTaking Fee,NaN,NaN,50.00,Credo,NaN,NaN,4107987016,23/09/2024
996,997,MINISTRY OF ENVIRONMENT,ENVIRONMENTAL STRESS CHARGE/ECOLOGICAL LEVY.,2.32065E+13,NaN,500000.00,Unity Bank PLC,NaN,NaN,8477146525,23/09/2024
997,998,PLATEAU STATE INTERNAL REVENUE SERVICES,Withholding Tax on Commission,2320579549,NaN,2550.00,First City Monument Bank Plc,NaN,NaN,7760805743,23/09/2024
998,999,PLATEAU STATE INTERNAL REVENUE SERVICES,Withholding Tax on Commission,2320579549,NaN,4200.00,First City Monument Bank Plc,NaN,NaN,7792506181,23/09/2024
999,1000,PLATEAU STATE INTERNAL REVENUE SERVICES,Withholding Tax on Commission,2320579549,NaN,3150.00,First City Monument Bank Plc,NaN,NaN,8838506249,23/09/2024

# Check for Missing Values

In [61]:
# Check for missing values
missing_values = df.isnull().sum()

# Display columns with missing values
missing_values[missing_values > 0]

Industry          139
Invoice Number    990
Payment Method     91
Payment Bank       56
dtype: int64

# Remove Unnecessary Columns

In [63]:
# Drop unnecessary columns
columns_to_drop = ['Invoice Number']  
df = df.drop(columns=columns_to_drop, errors='ignore')

In [64]:
df

,Unnamed: 0,MDAS,Revenue Head,Industry,Amount Paid,Payment Gateway,Payment Method,Payment Bank,Receipt Number,Payment Date
0,1,PLATEAU STATE INTERNAL REVENUE SERVICES,Withholding Tax on Contracts,2357178342,28209.07,Etranzact,Bank,First City Monument Bank Plc,8645177947,28/01/2025
1,2,PLATEAU STATE INTERNAL REVENUE SERVICES,Development Levy,2343687641,100.00,Etranzact,Bank,First City Monument Bank Plc,7649277284,28/01/2025
2,3,PLATEAU STATE INTERNAL REVENUE SERVICES,Withholding Tax on Rents,2320657362,100000.00,InterSwitch,Debit Card,Access Bank Nigeria Plc,6719375092,28/01/2025
3,4,PLATEAU STATE INTERNAL REVENUE SERVICES,Withholding Tax on Commission,NaN,438410.58,Etranzact,Bank,First City Monument Bank Plc,1270064463,28/01/2025
4,5,PLATEAU STATE INTERNAL REVENUE SERVICES,Withholding Tax on Commission,NaN,34339.97,Etranzact,Bank,First City Monument Bank Plc,9577364189,28/01/2025
...,...,...,...,...,...,...,...,...,...,...
995,996,KABONG MARKET AUTHORITY,GateTaking Fee,NaN,50.00,Credo,NaN,NaN,4107987016,23/09/2024
996,997,MINISTRY OF ENVIRONMENT,ENVIRONMENTAL STRESS CHARGE/ECOLOGICAL LEVY.,2.32065E+13,500000.00,Unity Bank PLC,NaN,NaN,8477146525,23/09/2024
997,998,PLATEAU STATE INTERNAL REVENUE SERVICES,Withholding Tax on Commission,2320579549,2550.00,First City Monument Bank Plc,NaN,NaN,7760805743,23/09/2024
998,999,PLATEAU STATE INTERNAL REVENUE SERVICES,Withholding Tax on Commission,2320579549,4200.00,First City Monument Bank Plc,NaN,NaN,7792506181,23/09/2024
999,1000,PLATEAU STATE INTERNAL REVENUE SERVICES,Withholding Tax on Commission,2320579549,3150.00,First City Monument Bank Plc,NaN,NaN,8838506249,23/09/2024

# Renaming of the 'Unknown column to serial number'

In [66]:
df = df.rename(columns={'Unnamed: 0': 'Serial_Number'})

In [67]:
df

,Serial_Number,MDAS,Revenue Head,Industry,Amount Paid,Payment Gateway,Payment Method,Payment Bank,Receipt Number,Payment Date
0,1,PLATEAU STATE INTERNAL REVENUE SERVICES,Withholding Tax on Contracts,2357178342,28209.07,Etranzact,Bank,First City Monument Bank Plc,8645177947,28/01/2025
1,2,PLATEAU STATE INTERNAL REVENUE SERVICES,Development Levy,2343687641,100.00,Etranzact,Bank,First City Monument Bank Plc,7649277284,28/01/2025
2,3,PLATEAU STATE INTERNAL REVENUE SERVICES,Withholding Tax on Rents,2320657362,100000.00,InterSwitch,Debit Card,Access Bank Nigeria Plc,6719375092,28/01/2025
3,4,PLATEAU STATE INTERNAL REVENUE SERVICES,Withholding Tax on Commission,NaN,438410.58,Etranzact,Bank,First City Monument Bank Plc,1270064463,28/01/2025
4,5,PLATEAU STATE INTERNAL REVENUE SERVICES,Withholding Tax on Commission,NaN,34339.97,Etranzact,Bank,First City Monument Bank Plc,9577364189,28/01/2025
...,...,...,...,...,...,...,...,...,...,...
995,996,KABONG MARKET AUTHORITY,GateTaking Fee,NaN,50.00,Credo,NaN,NaN,4107987016,23/09/2024
996,997,MINISTRY OF ENVIRONMENT,ENVIRONMENTAL STRESS CHARGE/ECOLOGICAL LEVY.,2.32065E+13,500000.00,Unity Bank PLC,NaN,NaN,8477146525,23/09/2024
997,998,PLATEAU STATE INTERNAL REVENUE SERVICES,Withholding Tax on Commission,2320579549,2550.00,First City Monument Bank Plc,NaN,NaN,7760805743,23/09/2024
998,999,PLATEAU STATE INTERNAL REVENUE SERVICES,Withholding Tax on Commission,2320579549,4200.00,First City Monument Bank Plc,NaN,NaN,7792506181,23/09/2024
999,1000,PLATEAU STATE INTERNAL REVENUE SERVICES,Withholding Tax on Commission,2320579549,3150.00,First City Monument Bank Plc,NaN,NaN,8838506249,23/09/2024

In [68]:
#fixing column names. make them lowercase and replace space with underscore
df.columns = df.columns.str.lower()
df.columns=df.columns.str.replace(' ', '_')

In [69]:
df

,serial_number,mdas,revenue_head,industry,amount_paid,payment_gateway,payment_method,payment_bank,receipt_number,payment_date
0,1,PLATEAU STATE INTERNAL REVENUE SERVICES,Withholding Tax on Contracts,2357178342,28209.07,Etranzact,Bank,First City Monument Bank Plc,8645177947,28/01/2025
1,2,PLATEAU STATE INTERNAL REVENUE SERVICES,Development Levy,2343687641,100.00,Etranzact,Bank,First City Monument Bank Plc,7649277284,28/01/2025
2,3,PLATEAU STATE INTERNAL REVENUE SERVICES,Withholding Tax on Rents,2320657362,100000.00,InterSwitch,Debit Card,Access Bank Nigeria Plc,6719375092,28/01/2025
3,4,PLATEAU STATE INTERNAL REVENUE SERVICES,Withholding Tax on Commission,NaN,438410.58,Etranzact,Bank,First City Monument Bank Plc,1270064463,28/01/2025
4,5,PLATEAU STATE INTERNAL REVENUE SERVICES,Withholding Tax on Commission,NaN,34339.97,Etranzact,Bank,First City Monument Bank Plc,9577364189,28/01/2025
...,...,...,...,...,...,...,...,...,...,...
995,996,KABONG MARKET AUTHORITY,GateTaking Fee,NaN,50.00,Credo,NaN,NaN,4107987016,23/09/2024
996,997,MINISTRY OF ENVIRONMENT,ENVIRONMENTAL STRESS CHARGE/ECOLOGICAL LEVY.,2.32065E+13,500000.00,Unity Bank PLC,NaN,NaN,8477146525,23/09/2024
997,998,PLATEAU STATE INTERNAL REVENUE SERVICES,Withholding Tax on Commission,2320579549,2550.00,First City Monument Bank Plc,NaN,NaN,7760805743,23/09/2024
998,999,PLATEAU STATE INTERNAL REVENUE SERVICES,Withholding Tax on Commission,2320579549,4200.00,First City Monument Bank Plc,NaN,NaN,7792506181,23/09/2024
999,1000,PLATEAU STATE INTERNAL REVENUE SERVICES,Withholding Tax on Commission,2320579549,3150.00,First City Monument Bank Plc,NaN,NaN,8838506249,23/09/2024

# Convert Date Columns to Datetime Format

In [83]:
df['payment_date'] = pd.to_datetime(df['payment_date'], format='%d/%m/%Y', dayfirst=True)
df

,serial_number,mdas,revenue_head,industry,amount_paid,payment_gateway,payment_method,payment_bank,receipt_number,payment_date
0,1,PLATEAU STATE INTERNAL REVENUE SERVICES,Withholding Tax on Contracts,2357178342,28209.07,Etranzact,Bank,First City Monument Bank Plc,8645177947,2025-01-28
1,2,PLATEAU STATE INTERNAL REVENUE SERVICES,Development Levy,2343687641,100.00,Etranzact,Bank,First City Monument Bank Plc,7649277284,2025-01-28
2,3,PLATEAU STATE INTERNAL REVENUE SERVICES,Withholding Tax on Rents,2320657362,100000.00,InterSwitch,Debit Card,Access Bank Nigeria Plc,6719375092,2025-01-28
3,4,PLATEAU STATE INTERNAL REVENUE SERVICES,Withholding Tax on Commission,NaN,438410.58,Etranzact,Bank,First City Monument Bank Plc,1270064463,2025-01-28
4,5,PLATEAU STATE INTERNAL REVENUE SERVICES,Withholding Tax on Commission,NaN,34339.97,Etranzact,Bank,First City Monument Bank Plc,9577364189,2025-01-28
...,...,...,...,...,...,...,...,...,...,...
995,996,KABONG MARKET AUTHORITY,GateTaking Fee,NaN,50.00,Credo,NaN,NaN,4107987016,2024-09-23
996,997,MINISTRY OF ENVIRONMENT,ENVIRONMENTAL STRESS CHARGE/ECOLOGICAL LEVY.,2.32065E+13,500000.00,Unity Bank PLC,NaN,NaN,8477146525,2024-09-23
997,998,PLATEAU STATE INTERNAL REVENUE SERVICES,Withholding Tax on Commission,2320579549,2550.00,First City Monument Bank Plc,NaN,NaN,7760805743,2024-09-23
998,999,PLATEAU STATE INTERNAL REVENUE SERVICES,Withholding Tax on Commission,2320579549,4200.00,First City Monument Bank Plc,NaN,NaN,7792506181,2024-09-23
999,1000,PLATEAU STATE INTERNAL REVENUE SERVICES,Withholding Tax on Commission,2320579549,3150.00,First City Monument Bank Plc,NaN,NaN,8838506249,2024-09-23

In [88]:
#checking datatypes
df.dtypes

serial_number               int64
mdas                       object
revenue_head               object
industry                   object
amount_paid               float64
payment_gateway            object
payment_method             object
payment_bank               object
receipt_number              int64
payment_date       datetime64[ns]
dtype: object

In [86]:
# Check for missing values
missing_values = df.isnull().sum()

# Display columns with missing values
missing_values[missing_values > 0]

industry          139
payment_method     91
payment_bank       56
dtype: int64

# Fill Missing Categorical Values

In [92]:
# Fill missing categorical values
categorical_columns = ['industry', 'payment_method', 'payment_bank']
df[categorical_columns] = df[categorical_columns].fillna('Unknown')

In [94]:
df.isnull().sum()

serial_number      0
mdas               0
revenue_head       0
industry           0
amount_paid        0
payment_gateway    0
payment_method     0
payment_bank       0
receipt_number     0
payment_date       0
dtype: int64

# Handle Duplicate Records

In [97]:
# Remove duplicates
df = df.drop_duplicates()

In [106]:
df.shape

(1000, 10)

# Save the Cleaned Dataset

In [111]:
df.to_csv("cleaned_data.csv", index=False)